name: Go Backend CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  # build:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Set up Go
  #       uses: actions/setup-go@v4
  #       with:
  #         go-version: "1.23"

  #     - name: Cache Go modules
  #       uses: actions/cache@v3
  #       with:
  #         path: ~/go/pkg/mod
  #         key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
  #         restore-keys: |
  #           ${{ runner.os }}-go-

  #     - name: Download dependencies
  #       run: go mod download

  #     - name: Run tests
  #       run: go test -v -coverprofile=coverage.out ./...

  #     - name: Build
  #       run: go build -v -o app .

  #     - name: Run linter
  #       uses: golangci/golangci-lint-action@v3
  #       with:
  #         version: latest

  buildVue:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node
        run: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm ci
        working-directory: githubactions
