name: 05 2 event filters and activity types

on:
  pull_request:
    types: [closed]
    branches:
      - main
  push:
env:
  MY_WORKFLOW_VAR: testing
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Running whenever PR is closed"
      - name: Print env
        run: echo "${{env.MY_WORKFLOW_VAR}}"
